* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    padding: 16px 0 ; 
    background-color: #182c61;
    color: aliceblue;
}

header,
section h2 {
    font-family: 'Bungee', cursive;
}


body {
    font-family: 'Roboto', sans-serif;
}

header h1,
section h2 {
    font-weight: normal;
}

header nav li {
    display: inline;
    margin: 16px;
    font-size: 18px;
}

header nav li a {
    color: azure ;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}


section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
    color: #182c61 ;

}

section .container p {
    margin-bottom: 16px;
}

section {
    color: #182c61;
}

.storn-front {
    margin-right: 32px;
}

.social-links img {
    height: 24px;

}

#contato .container {
    display: block;
}

.contact-metods {
    display: flex;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;

}